accelerate
bitsandbytes
datasets
diffusers>=0.32.2
inflect
lpips
numpy
packaging
peft
Pillow
PyYAML
torch
tqdm
transformers
wandb
torchmetrics
torchvision
torch-fidelity
ipykernel
ipywidgets
scikit-learn
